@model HairSalon.Models.Stylist
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.StylistFirstName) @Html.DisplayFor(model => model.StylistLastName)</h2>
    <h4>Clients:</h4>
    <ul>
        @foreach (var client in ViewBag.ClientList)
        {
            <li><a href="/client/@client.ClientId">@client.ClientFirstName @client.ClientLastName</a></li>
        }
    </ul>

    <hr />
    <p>@Html.ActionLink("Back to Stylist List", "Index")</p>
</div>