@model HairSalon.Models.Stylist
@{
  Layout = "_Layout";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.StylistFirstName) @Html.DisplayFor(model => model.StylistLastName)</h2>
     @if (ViewBag.ClientList.Count == 0)
    {
        <h4>Stylist currently has no clients.</h4>
        <hr>
    }
    else{
    <h4>Clients:</h4>
    <ul>
        @foreach (var client in ViewBag.ClientList)
        {
            <li><a href="/clients/@client.ClientId">@client.ClientFirstName @client.ClientLastName</a></li>
        }
    </ul>

    <hr>
    }
    <h4>Specialties:</h4>
    <ul>
        @foreach (var specialty in ViewBag.SpecialtyList)
        {
            <li><a href="/specialties/@specialty.SpecialtyId">@specialty.Description</a></li>
        }
    </ul>
    <p>@Html.ActionLink("Edit Stylist", "Edit", new { id = @Model.StylistId })</p>
    <p>@Html.ActionLink("Back to Stylist List", "Index")</p>
</div>