@model IEnumerable<HairSalon.Models.Stylist>

@{
  Layout = "_Layout";
}

<div class="container">
    <h2>Stylists Employed</h2>
    @Html.ActionLink("Add Stylist", "create", "stylists", null)
    <hr>
    @foreach(var stylist in Model)
    {
        <h2>@Html.DisplayFor(model => stylist.StylistFirstName) @Html.DisplayFor(model => stylist.StylistLastName)</h2>
        @Html.ActionLink("Details", "Details", new { id = stylist.StylistId })
        <br>
        @Html.ActionLink("Edit", "Edit", new { id = stylist.StylistId })
        <br>
            @using (Html.BeginForm("delete", "stylists", new { id = stylist.StylistId }, FormMethod.Post))
            {
                <input class="btn btn-sm btn-danger" type="submit" value="Delete"/>
            }
        <hr>
    }
    <form method="post" action="/stylists/delete">
        <button class="btn btn-danger" type="submit">Delete All Stylists</button>
    </form>
    <br>
</div>