@using HairSalon.Models
@model HairSalon.Models.Client

@{
  Layout = "_Layout";
}

<div class="container">
    @if (ViewBag.StylistIds.Count == 0)
    {
        <h2>Oops!</h2>
        <p>You cannot add a client without first having a stylist. Please @Html.ActionLink("add a stylist", "create", "stylists") first.</p>
    }
    else
    {
    <h2>Add a new Client</h2>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label asp-for="ClientFirstName"><h4>First Name</h4></label>
                @Html.TextBoxFor(model => model.ClientFirstName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label asp-for="ClientLastName"><h4>Last Name</h4></label>
                @Html.TextBoxFor(model => model.ClientLastName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="StylistIds"><h4>Stylist:</h4></label>
                @Html.DropDownList("StylistIds", null, new { @class = "form-control" })
            </div>


            <input type="submit" value="Create Client" class="btn btn-success">
        }
    }
        <p>@Html.ActionLink("Back to Clients", "Index")</p>
</div>